#contact {
  background: linear-gradient(135deg, #f3f9ff, #fdfdff);

  .card {
    background-color: #ffffff;
    border: none;
    transition: 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
    }

    input,
    textarea {
      background-color: #f8f9fa;
      border-radius: 0.5rem;
    }

    button.btn {
      transition: background-color 0.3s;
      &:hover {
        background-color: #0b5ed7;
      }
    }
  }
}
