/* You can add global styles to this file, and also import other style files */


body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}

section {
  margin-bottom: 4rem;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}
